USE [master]
GO
/****** Object:  Database [DevJrCoa]    Script Date: 4/5/2021 10:08:52 ******/
CREATE DATABASE [DevJrCoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevJrCoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DevJrCoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DevJrCoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DevJrCoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevJrCoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevJrCoa]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/5/2021 10:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telefono] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [Nombre], [Email], [Telefono]) VALUES (1, N'npastene', N'Nahuel', N'nahuelpastene@gmail.com', 1165516192)
INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [Nombre], [Email], [Telefono]) VALUES (2, N'prodriguez', N'Pablo', N'pablorodriguez@hotmail.com', 1154526356)
INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [Nombre], [Email], [Telefono]) VALUES (3, N'aperez', N'Analia', N'analiaperez@outlook.com', 1165458596)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
USE [master]
GO
